<div id="<%= dom_id employee %>">
	<div class="index bg-white dark:bg-gray-900 px-4 md:px-10">
		<div class="overflow-x-auto">
			<table class="w-full whitespace-nowrap">
				<tbody>
					<tr tabindex="0" class="focus:outline-none text-sm leading-none text-gray-600 dark:text-gray-200   h-16">
						<td class="w-1/2">
							<div class="flex items-center">
								<div class="w-10 h-10 rounded-sm flex items-center justify-center">
									<p class="text-xs font-bold leading-3 text-white"><%= gravatar_for employee %></p>
								</div>
								<div class="pl-2">
									<p><%= link_to "#{employee.first_name} #{employee.last_name}", employee_path(employee, employee), class: "text-sm font-medium leading-none text-gray-800 dark:text-white"%></p>
									<p class="text-xs leading-3 text-gray-600 dark:text-gray-200   mt-2"><%= employee.email %></p>
								</div>
							</div>
						</td>
						<td class="pl-8">
							<p>
								<%= link_to "View", employee_path(employee, employee), type: "button", 
										class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg 
										focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
							</p>
						</td>
						<td class="pl-8">
							<p>
								<%= link_to "Edit", edit_employee_path(employee, employee), type: "button", 
										class: "inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg 
										focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
							</p>
						</td>
						<td class="pl-8">
							<p>
								<%= link_to "Delete", employee_path(employee), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, type: "button", 
										class: "inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg 
										focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out" %>
							</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>